.contentTitle{
    position: absolute;
    top: 60px;
    left: 50%;
    transform: translateX(-50%);
    /* max-width: 1500px; */
    width: 100%;
    height: 540px;
    font-family: var(--letter-primary);
    padding: 0 35px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    column-gap: 50px;
    /* border: 5px solid rebeccapurple; */
}

.titleMain{
    color: var(--color-baseTwo-white);
    font-size: 2.8rem;
    letter-spacing: 1.5px;
    text-align: center;
}

.titleAnimated{
    color: var(--color-baseOne-orange);
    font-size: 2rem;
    letter-spacing: 1.2px;
    text-align: center;
}

.contentTitleText{
    width: 50%;
    display: flex;
    flex-direction: column;
    row-gap: 10px;
}

.contentImg{
    /* border: 1px solid red; */
    width: 50%;
    height: 400px;
}

.contentImgMain{
    object-fit: contain;
    width: 100%;
    height: 100%;
    animation: move 0.8s alternate infinite;
}

@keyframes move{
    0%{margin: 20px 0px 0px 0px;}
}