*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root{
    --color-baseOne-orange: #FF8C00;
    --color-baseTwo-white: #FFFFFF;
    --color-letter: #000000;
    --color-baseThree-gray: #686868;

    --letter-primary:  'Bebas Neue', sans-serif;
    --letter-secundary: 'Montserrat', sans-serif;
}

/* #root{
    background-color: #000000;
} */
.main-cont{
    max-width: 1500px;
    margin: auto;
    position: relative;
}

.sec3{
    padding: 40px 35px;
}

.sec3_contentService{
    display: flex;
}