*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root{
    --color-baseOne-orange: #FF8C00;
    --color-baseTwo-white: #FFFFFF;
    --color-letter: #000000;
    --color-baseThree-gray: #686868;
    --color-baseFour-orangeMin: #F7C78E;
    --color-footerPrimary: #162235;
    --color-footerSecundary: #1E2E46;

    --letter-primary:  'Bebas Neue', sans-serif;
    --letter-secundary: 'Montserrat', sans-serif;
}

/* #root{
    background-color: #000000;
} */

